//theme utilities


// Bootstrap utilities
@import "bootstrap/scss/utilities";


//Modify utilities
$utilities: map-merge($utilities,
        ("font-family": (property: font-family,
                class: font,
                values: (Nunito: $font-family-Nunito,
                    Montserrat: $font-family-Montserrat,
                    Poppins: $font-family-Poppins,
                )),



            "font-weight": (property: font-weight,
                class: fw,
                values: (100:100,
                    200:200,
                    300:300,
                    400:400,
                    500:500,
                    600:600,
                    700:700,
                )),

            "line-height": (property: line-height,
                class: lh,
                values: (0:0,
                )),

            // color class utilities using class in HTML text-primary change text color
            "color": (property: color,
                class: text,
                values: map-merge($theme-colors,
                    ("primary": $primary,
                        "secondary": $secondary,
                        "white": $white,
                        "black": $black,
                        "body": $body-color,
                        "muted": $text-muted,
                        "reset": inherit,
                    )),
            ),
            "border-color": (property: border-color,
            class: border,
            values: map-merge($theme-colors,
                ("primary": $primary,
                    "secondary": $secondary,
                )),
        ),

            // Hover class utilities using class in HTML text-primary-hover change color if hovered
            "hover": (property: color,
                class: text,
                state: hover,
                values: ("primary": $primary,
                    "secondary": $secondary,
                    "white": $white,
                    "black": $black,
                    "light": $light,
                    "success": $success,
                    "info": $info,
                    "warning": $warning,
                    "danger": $danger,
                    "dark": $dark,
                    "muted": $text-muted,
                )),

            // Hover class utilities using class in HTML bg-primary-hover change background-color if hovered
            "bg": (property: background-color,
                class: bg,
                state: hover,
                values: ("primary": $primary,
                    "secondary": $secondary,
                    "white": $white,
                    "black": $black,
                    "light": $light,
                )),

            "bg-opacity": map-merge(map-get($utilities, "bg-opacity"),
                (values: map-merge(map-get(map-get($utilities, "bg-opacity"), "values"),
                        (20: .2,
                            30: .3,
                            80: .8,
                        ),
                    )),
            ),

            "width": (property: width,
                class: w,
                values: (25: 25%,
                    50: 50%,
                    75: 75%,
                    100: 100%,
                    max-content:max-content,
                    auto: auto,
                )),

            "max-width": map-merge(map-get($utilities, "max-width"),
                (values: map-merge(map-get(map-get($utilities, "max-width"), "values"),
                        (20:20px,
                            40:40px,
                            60:60px,
                            100:100px,
                            200:200px,
                            25: 25%,
                            50: 50%,
                            75: 75%,
                        ),
                    )),
            ),
            "height": (property: height,
                class: h,
                values: (20:20px,
                    40:40px,
                    60:60px,
                    100:100px,
                    200:200px)),

            "viewport-height": (property: height,
                class: vh,
                values: (20:20vh,
                    25:25vh,
                    50:50vh,
                    75:75vh,
                    80:80vh,
                    90:90vh,
                    100: 100vh,
                )),
        ));
//Add and Override utilities
$utilities: map-merge($utilities,
        ("cursor": (property: cursor,
                class: cursor,
                responsive: true,
                values: auto pointer grab,
            ),

            "z-index": (property: z-index,
                class: zi,
                values: (-1: -1,
                    0: 0,
                    1: 1,
                    9: 9,
                    99: 99,
                    999: 999,
                    9999: 9999,
                ),
            ),
            "object-position": (property: object-position,
                class: op,
                values: top center bottom,
            ),

            //Overrided
            "overflow": (responsive: true,
                property: overflow,
                values: visible hidden scroll auto,
            ),

            "rounded": (property: border-radius,
                class: rounded,
                values: (null: $border-radius,
                    4: 4px,
                    6: 6px,
                    8: 8px,
                    10:10px,
                    20:20px,
                    30:30px,
                    50:50%,
                )),

            // Transform Rotate 
            "rotate": (property: transform,
                class: rotate,
                values: (null: rotate(0, 0deg),
                    45: rotate(45deg),
                    90: rotate(90deg),
                    180: rotate(180deg),
                    360: rotate(360deg),
                )),

            "rotateY": (property: transform,
                class: rotate-y,
                values: (null: rotateY(0, 0deg),
                    45: rotateY(45deg),
                    90: rotateY(90deg),
                    180: rotateY(180deg),
                    360: rotateY(360deg),
                )),
            "rotateX": (property: transform,
                class: rotate-X,
                values: (null: rotateX(0, 0deg),
                    45: rotateX(45deg),
                    90: rotateX(90deg),
                    180: rotateX(180deg),
                    360: rotateX(360deg),
                )),

            "transition": (property: transition,
                class: transition,
                values: (null: transition(0, 0s),
                    1: all (0.1s),
                    2: all (0.2s),
                    3: all (0.3s),
                    4: all (0.4s),
                    5: all (0.5s),
                    6: all (0.6s),
                    7: all (0.7s),
                    8: all (0.8s),
                    9: all (0.9s),
                )),
                 "top": (
      property: top,
      values: $position-values
    ),
    "bottom": (
      property: bottom,
      values: $position-values
    ),
    "start": (
      property: left,
      class: start,
      values: $position-values
    ),
    "end": (
      property: right,
      class: end,
      values: $position-values
    ),
        ));